<!-- eventually put this as a helper method somehow -->
<!-- this will also be extracted out to do the idme login information -->
<!-- maybe with the idme logic, we can then update the column for the particular user with a verification true  -->

<h1>Sign Up </h1>
<%=form_for @user do |f| %>
	<%=f.label :email %>
	<%=f.text_field :email %>
	<%=f.label :password %>
	<%=f.text_field :password %>
	<%=f.label :password_confirmation %>
	<%=f.text_field :password_confirmation %>
	<%=f.submit"Sign Up" %>
<%end%>
